{% extends 'base.html' %}

{% block title %}Slots App{% endblock title %}

{% block header %}Home{% endblock %}
{% block homelink %}{% endblock %}

{% block content %}
    <div class="chunk">
        <p>A tool for managing virtual queues for physical shops.</p>
        <p>View shops, book slots and modify them.</p>
    </div>
    <div class="chunk">
        <p>Currently, <c class="funky">Slots App</c> has amassed {{ users }} users, {{ shops }} shops and {{ slots }} slots!</p>
    </div>
    <div class="chunk">
        <p>Check out the source code on <a href="https://github.com/ollydevulder/slots-project" target="_blank">GitHub</a>.</p>
    </div>
{% endblock %}

