{% extends 'base.html' %}
{% load static %}
{% block css %}{% static 'slots/css/login.css' %}{% endblock %}

{% block title %}Login{% endblock %}

{% block header %}
<h1>Verify Identity</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'slots:login' %}" method="POST" class="container login-form">
        {% csrf_token %}
        {{ form }}
        {% if error %}
        <p class="error">{{ error_msg }}</p>
        {% endif %}
        <input type="submit" value="Log In">
    </form>
{% endblock %}

{% block sidebar %}<!-- empty -->{% endblock %}