{% extends 'base.html' %}
{% load static %}
{% block css %}{% static 'slots/css/login.css' %}{% endblock %}

{% block title %}Login{% endblock %}

{% block header %}
<h1>Verify Identity</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'slots:login' %}" method="POST" class="container login-form">
        {% csrf_token %}
        {% if failed %}
            <span class="error">Login Failed :(</span>
        {% endif %}
        {% comment %} <label for="username">Username</label> {% endcomment %}
        <input id="username" name="username" type="text" placeholder="username">
        {% comment %} <label for="password">Password</label> {% endcomment %}
        <input id="password" name="password" type="password" placeholder="password">
        <span hidden><input type="submit"></span>
    </form>
{% endblock %}

{% block sidebar %}<!-- empty -->{% endblock %}