{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'slots/css/shops.css' %}" rel="stylesheet">
{% endblock  %}

{% block title %}Slots App{% endblock title %}

{% block header %}
    <h1>Slots App</h1>
{% endblock  %}

{% block content %}
    <!--<p>This is the main page :)</p>-->
    <div class="container shop-container">
        {% for shop in shop_list %}
            <a href="{% url 'slots:view-shop' shop.pk %}" class="shop">
                <p>{{ shop.name }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <p>This is the shop menu :)</p>
    <p><b>Try resizing the window.</b></p>
{% endblock  %}