{% extends 'base.html' %}
{% load static %}
{% block css %}{% static 'slots/css/shops.css' %}{% endblock  %}

{% block title %}{{ shop.name }}{% endblock %}

{% block header %}{{ shop.name }}{% endblock %}

{% block content %}
    <!--<p>There are <b>{{ shop.slot_amount }}</b> slots.</p>-->
    <div class="container slot-container">
        {% for slot in shop.ordered_slots %}
            <div class="slot{{ slot.user|yesno:' taken,' }}">
                <b>{{ slot.position|add:1 }}</b>
            </div>
        {% endfor %}
    </div>
{% endblock %}