{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'slots/css/shops.css' %}" rel="stylesheet">
{% endblock  %}

{% block title %}{{ shop.name }}{% endblock %}

{% block header %}
    <h1>{{ shop.name }}</h1>
{% endblock %}

{% block content %}
    <!--<p>There are <b>{{ shop.slot_amount }}</b> slots.</p>-->
    <div class="container slot-container">
        {% for slot in shop.ordered_slots %}
            <div class="slot{{ slot.taken|yesno:' taken,' }}">
                <b>{{ slot.position|add:1 }}</b>
            </div>
        {% endfor %}
    </div>
{% endblock %}