{% extends 'base.html' %}
{% load static %}
{% block css %}{% static 'slots/css/shops.css' %}{% endblock %}

{% block title %}Slots App{% endblock title %}

{% block header %}Shops{% endblock %}

{% block content %}
    <!--<p>This is the main page :)</p>-->
    <div class="container shop-container">
        {% for shop in shop_list %}
            <a href="{% url 'slots:view-shop' shop.pk %}" class="shop">
                <p>{{ shop.name }}</p>
                <span>{{ shop.get_amount_available_slots }} slots</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}