:root {

    /* Centralize the colours to control look from one place. */

    --background: #ebe5cf;
    --background2: #d8c3a5;
    --light-red: #e98074;
    --taken: #e85a4f;
    --red: #e85a4f;
    --error: #e91a0c;
    
    --purple: #bf39d1;
    --green: #89fa73;
    --h: #ece3c6;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 3rem;
    /* font-family: 'Bree Serif', serif; */
}

p, li, a {
    font-size: 1.25rem;
    /* font-family: 'Lato', sans-serif; */
}

a {
    text-decoration: none;
}

.container {
    display: grid;
}

.main-container {
    height: 100%;
    grid-template-areas:
        "header  header"
        "content sidebar";
    grid-template-rows: max-content;
    grid-template-columns: 4fr 1fr;
}

.main-container > * {
    padding: 0.5rem;
}

.header {
    grid-area: header;
    place-self: center stretch;
    padding-left: 1rem;

    background-color: var(--background2);
    border-left: 0.8em solid var(--light-red);
    /* color: var(--e); */
}

.header h1 {
    color: var(--red);
}

.content {
    grid-area: content;
    margin: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--background);
}

.linklist {
    padding: 1rem;
    list-style-type: none;

}

.linklist a {
    margin: 0.5rem;
    padding: 0.5rem;

    color: var(--red);
    background-color: var(--background2);
    border-left: 0.23rem solid var(--light-red);
}

.linklist a:hover {
    font-weight: bold;
    border-left-width: 0.25rem;
}

.linklist a:focus {
    font-weight: bold;
    border-left-width: 0.25rem;
}

.linklist .user {
    border-left-color: var(--purple);
    color: var(--purple);
}

@media screen and (max-width:60em) {
    .main-container {
        grid-template-areas:
            "header"
            "content"
            "sidebar";
        grid-template-columns: 1fr;
    }
}