{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Slots App{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% block css %}{% endblock %}" rel="stylesheet">

    
</head>
<body>
    <div class="container main-container">
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}        
                <ul class="linklist">
                    <a href="{% url 'slots:shops' %}"><li>view shops</li></a>
                    <a href="{% url 'slots:logout' %}"><li>log out</li></a>
                </ul>
            {% endblock %}
        </div>
    </div>
</body>
</html>