{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <title>{% block title %}Slots App{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% block css %}{% endblock %}" rel="stylesheet">
</head>
<body>
    <div class="container main-container">
        <div class="header">
            <h1>{% block header %}{% endblock %}</h1>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}
                <div class="container linklist">
                    {% block linklist %}
                        {% if not user.is_authenticated %}
                            <a href="{% url 'slots:signup' %}">sign up</a>
                            <a href="{% url 'slots:login' %}">log in</a>
                        {% else %}
                            <a href="{% url 'slots:user' %}" class="user">{{ user.username }}</a>
                            <a href="{% url 'slots:shops' %}">shops</a>
                            <a href="{% url 'slots:logout' %}" class="logout">log out</a>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>