.shop-container {
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: max-content;
    gap: 2rem;

    text-decoration: none;
}

.shop-container p {
    color: black;
}

.shop {
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--blue);
    transition: background-color 0.75s ease;
}

.shop:hover {
    background-color: var(--green);
}

.slot-container {
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;

}

.slot {
    padding: 1rem;
    background-color: var(--green);
}

.taken {
    background-color:var(--taken);
}